<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tasker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.5, shrink-to-fit=no">

    <%= stylesheet_link_tag     'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag  'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag  params[:controller], 'data-turbolinks-track': 'reload' if params[:controller].eql?('task') || params[:controller].eql?('member') %>
  </head>
  <body>
    <% if !notice.nil? then %>
      <div class="alert fixed-top alert-success alert-dismissible fade show" style='z-index: 9999' role="alert">
        <%= notice %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>
    <% if !alert.nil? then %>
      <div class="alert fixed-top alert-danger alert-dismissible fade show" style='z-index: 9999' role="alert">
        <%= alert %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>
    <%= render 'includes/navbar' %>
	 <%= yield %>
  </body>
</html>
